body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/login.jpg'); 
    background-size: cover;
    background-position: center;
}

.contenedor-central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenedor-login {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 40px;
    border-radius: 8px;
    border: 4px solid #006666; /* Cambiar el color del borde aquí */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.contenedor-login h2 {
    margin-bottom: 20px;
    color: #fff;
}

.grupo-formulario {
    margin-bottom: 20px;
    text-align: left;
    width: 80%;
    
}
input[type="submit"] {
    width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}
#contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor-boton2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#enviar {
    padding: 12px;
    background-color: #3b5a7a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.olvidar-contraseña {
    text-decoration: none;
    color: #6a8aac;
    font-size: 14px;
}

a.olvidar-contraseña:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .contenedor-login {
        max-width: 100%;
    }
}