<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XJUEGOS - Página Principal</title>
    <script src="https://kit.fontawesome.com/affca5821d.js" crossorigin="anonymous"></script>
    <script src="../static/js/script2.js" defer></script>
    <script src="../static/js/logo.js" defer></script>

    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Enlace al archivo CSS separado -->
    <link rel="shortcut icon" href="../static/img/LogoX.png" />

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">

                <header>
                    <h1 class="colored-letter letter-x">X</h1>
                    <h1 class="colored-letter letter-j">J</h1>
                    <h1 class="colored-letter letter-u">U</h1>
                    <h1 class="colored-letter letter-e">E</h1>
                    <h1 class="colored-letter letter-g">G</h1>
                    <h1 class="colored-letter letter-o">O</h1>
                    <h1 class="colored-letter letter-s">S</h1>

                    <button id="logoButton" class="logo-button">
                        <img src="../static/img/LogoX.png" alt="Logo" class="logo-image">
                    </button>
                    <div class="navigation-menu">
                        <a href="/RAWGAPI" >Información Juegos</a>
                        <a href="/BOMBAPI" >Información Desarrolladores</a>  
                        {% if user.is_authenticated %}
                        <!-- Usuario autenticado, mostrar correo electrónico y opción para cerrar sesión -->
                        <a href="/editarperfil">{{ user.email }}</a>
                        <a href="/Logout">Cerrar sesión</a>
                        <a href="/carrito" id="shoppingCart">
                            <i class="fas fa-shopping-cart"></i> Carrito
                            <span id="cartItemCount">0</span>
                            {% else %}
                            <!-- Usuario no autenticado, mostrar opciones de registro e inicio de sesión -->
                            <a href="/Form">Regístrate!</a>
                            <a href="/Login">Iniciar sesión</a>
                            {% endif %}
                    </div>
                </header>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4">



                <nav class="d-flex justify-content-center align-items-center">

                    <a href="/Categoria1">
                        <img src="../static/img/roguelikes.jpg" alt="Roguelike">
                        <span>Roguelikes</span>
                    </a>
                    <a href="/Categoria2">
                        <img src="../static/img/aventura.jpg" alt="Aventura">
                        <span>Aventura</span>
                    </a>
                    <a href="/Categoria3">
                        <img src="../static/img/deportes.jpg" alt="Deportes">
                        <span>Deportes</span>
                    </a>
                    <a href="/Categoria4">
                        <img src="../static/img/supervivencia.png" alt="Supervivencia">
                        <span>Supervivencia</span>
                    </a>
                    <a href="/Categoria5">
                        <img src="../static/img/terror.png" alt="Terror">
                        <span>Terror</span>
                    </a>
                </nav>


            </div>



        </div>
    </div>



    <footer class="text-center">
        <p>¡Bienvenido a XJUEGOS!</p>


     <script>

function actualizarContadorCarrito() {
    fetch('/carrito/cantidad/')
    .then(response => response.json())
    .then(data => {
        document.getElementById('cartItemCount').textContent = data.cantidad;
    });
}

// Llamar a la función al cargar la página
document.addEventListener('DOMContentLoaded', actualizarContadorCarrito);

     </script>   
</body>


</html>